/*
DISCLAIMER: I am perfectly capable or writing nice and clean CSS.
This is just a way to get the aesthetic result that I need for an application.
!!!
*/

#too_small {
    display: none;
}

body {
    font-family: "forma-djr-text", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FF2A00;
    background-color: #fdf0d2;

    padding: 0px;
    margin: 0px;
}

#hero-h {
    font-family: "forma-djr-text", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10.3vw;

    margin: -11vw 0px -4.5vw 0px;
    padding: 0px;
}

.block-span-hero {
    font-size: 16vw;
}

.hero-p-div {
    overflow: hidden;
    text-wrap: nowrap;
    position: relative;

    width: 100%;
    height: 11vw;

    margin: -1vw 0px 0px 0px;
    padding: 0px;
}

.hero-p {
    font-family: "forma-djr-text", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 4vw;
    line-height: 0.5;


    margin: 0px;
    padding: 0px;
}

#hero-img-div {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 60vh;

    padding: 0px;
    margin: 0px;
}

#hero-img {
    position: absolute;

    transform: scale(1.3);
    width: 100vw;
    height: auto;
    left: -10vw;
    top: -20vw;
}

.block-span {
    font-size: 6vw;
}

#what-i-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-h {
    font-family: "forma-djr-text", sans-serif;
    font-weight: 900;
    font-style: normal;

    font-size: 48px;
    margin: 200px 0px 100px 0px;
}

.sub-h {
    font-family: "forma-djr-text", sans-serif;
    font-weight: 900;
    font-style: normal;

    font-size: 32px;
}

.sub-h-row {
    font-family: "forma-djr-text", sans-serif;
    font-weight: 900;
    font-style: normal;
    transform: rotate(270deg);
    margin: 20px -80px 240px 0px;
}

#dev {
    margin-left: -30px;
    margin-right: -100px;
}

#row {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.creative {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;

    margin-top: 50px;
}

ul {
    font-family: "forma-djr-text", sans-serif;
    font-weight: 900;
    font-style: normal;

    list-style-type: none;
    
}

.t {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t2 {
    display: flex;
}

.block-span-s {
    font-size: 48px;
}

#what-i-learn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learn-wrapper {
    display: flex;
    justify-content: space-between;

    max-width: 700px;
    min-width: 70%;
}

.h-learn {
    margin-bottom: 80px;
}

button {
    border: solid 5px #FF2A00;
    font-family: "forma-djr-text", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #FF2A00;
    font-size: 20px;

    padding: 10px 15px;
    background-color: #fdf0d2;
}

#btn-learn {
    margin: 50px 0px 100px 0px;
}

#what-i-made {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-div {
    display: flex;
    justify-content: space-between;
    width: 60%;

    border-bottom: solid 5px #FF2A00;
    padding: 0px;

    margin-bottom: 100px;
}

.project-div a {
    font-family: "forma-djr-text", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    text-decoration: none;
    color: #FF2A00;

    margin: 0px;
    padding: 0px;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 200px;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    #everything {
        display: none;
    }

    body {
        background-color: #fdf0d2;
    }

    #too_small {
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;

        height: 100vh;
    }

    #too_small h1 {
        font-family: "forma-djr-text", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #FF2A00;
        font-size: 50px;
    }

}
